<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list no-lines>
    <button ion-item *ngFor="let user of users | async" (click)="onChatCreate(user)">
      {{ user.name }}
    </button>
  </ion-list>

  <button ion-button block (click)="onSignup()">Sign Up</button>
</ion-content>
